<div class = "cart">
  <h2>Current Cart</h2>
  <table>
    <thead>
      <tr>
          <td class ="product-title">Product</td>
          <td>Price</td>
          <td>Quantity</td>
          <td>Subtotal</td>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td class ="product-title">
          <%= image_tag item.product.photo_url ,  alt: 'product', class: 'product-image' %>
          <%= item.product.title %>
          </td>
          <td><%= number_to_currency item.price %></td>
          <td>
          <div class = "edit-cart">
            <%= form_tag order_items_path do %>
                  <%= hidden_field_tag :product_id, item.product.id %>
                  <div class = "quant-cart">
                    <%= number_field_tag :quantity, item.quantity %>
                    <%= button_tag :submit , class: "btn btn-purple" do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                  </div>
            <% end %>
            <div class="edit-order">
            <%= form_for item, method: :delete do |f| %>
                 <%= f.button :submit, class: "btn btn-purple" do %>
                    <i class="fas fa-trash-alt"></i>
                 <% end %>
              <% end %>
            </div>
          </div>
          </td>

          <td><%= item.price * item.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Total = <%= @order.sub_total %> </h3>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'teddy_id', @teddy.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
</div>
